.header {
    height: 80px;
    background-color: #7d84d1;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    .logo {
        width: 65px;
        border-radius: 50%;
        height: 60px;
    }
}
.container {
    max-width: 1600px;
    padding: 100px 15px 100px 15px;
    margin: 0 auto;
}
