.user__form {
    display: flex;
    .form__side {
        width: 100%;
    }
    .upload__image {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 250px;
        input {
            display: none;
        }
        img {
            border-radius: 10px;
            width: 200px;
            object-fit: contain;
            margin-top: 75px;
        }
        .pi-upload {
            color: white;
            width: 200px;
            justify-content: center;
            display: flex;
            align-items: center;
            background-color: #3b82f6;
            height: 30px;
            border-radius: 10px;
            margin-top: 20px;
            cursor: pointer;
        }
        .model__buttton {
            padding-bottom: 10px;
            .userform__btn {
                width: 100%;
            }
            .btn {
                display: flex;
            }
        }
    }
}
